<?xml version="1.0" encoding="UTF-8"?>


<config>
	<global>

		<blocks>
			<catalog>
				<rewrite>
					<product_view>First_Module_Block_Product_View</product_view>
				</rewrite>
			</catalog>

		</blocks>


		<models>
			<catalog>
				<rewrite>
					<product>First_Module_Model_Product</product>
				</rewrite>
			</catalog>
			<catalog_resource_eav_mysql4>
				<rewrite>
					<product>First_Module_Model_Product_Resource_Model</product>
				</rewrite>
			</catalog_resource_eav_mysql4>
		</models>

	</global>
</config>





