<?xml version="1.0" encoding="UTF-8"?>


<config>
	<global>
		<blocks>
			<catalog>
				<rewrite>
					<product_view>First_Module_Block_Product_View</product_view>
				</rewrite>
			</catalog>

		</blocks>


		<models>
			<catalog>
				<rewrite>
					<product>First_Module_Model_Product</product>
				</rewrite>
			</catalog>
		</models>
	</global>
</config>





